body{
    margin: 0 auto;
    color: #212121 !important;
}
a:hover{
    text-decoration: none !important;
}

/* General css for all devices */
.backgroundOdd:nth-child(odd) {
    background-color: #f5f5f5;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 1.2em;
}


.login-button{
    background-color: #5596F5;
    color: #fff;
}


.navbar {
    margin:0 !important;
    background-color: #212121;
}


.login-button{
    background-color: #5596F5;
    color: #fff;
}

.productRow {
    margin-top: -1em;
}

.go-to-login-page-button{
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;

}

.go-to-login-page-button a{
    text-decoration: none;
}

#number-of-chosen-products{
    padding: 0;
    font-size: 1.5em;
    font-weight: 400;
}

.kundvagn-icon{
    padding: 0 !important;
}

button span{
    margin: 0.4em;
}

.shopping-button{
    font-size: 4vw !important;
    font-weight: 600 !important;
    background-color: #5596F5;
    color: #fff;
    border: none;
    margin-top: 1em;
    padding: 0.5em !important;
    border-radius: 0.5em !important;
}

.deleteButton{
    background-color: #E64E4E;
    font-size: 1vw !important;
    color: #fff;
    border: none;
    padding-bottom: 0.5em !important;
    border-radius: 0.5em !important;
    min-height: 20px !important;
}

/* Register block */
.register-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1em;
}

.modal-content{
    max-width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: visible;
}

.modal {
    display: none;
    z-index: 99; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.blue-register-button{
    background-color: #5596F5;
    color: white;
    padding: 14px 20px;
    margin: 1em 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.iconSign {
    padding-right: 1em;
}
/* This is the end of the register block */


