@media screen and (min-width: 1300px){
    .login-main{
        padding: 6em 30em 6em 30em !important;
    }

    .avatar-container {
        margin: 1em 0 1em 0;
    }

    .login-labels{
        font-size: 1vw !important;
        font-weight: 400;
    }

    input[type=text], input[type=password] {
        font-size: 1vw !important;
    }
    
.register-button {
    background-color: transparent !important;
    margin-top: 1em;
    color: #212121;
    border: none;
}
}

